section
  h1 Innovation Labs:
  h2 The business perspective
  img.logo(src='img/logo.png')
  h2.author= author
section
  section
    h2 How it works
    img.featured.borderless(src='img/workings.svg')
  section
    h2 Prototype
    img.featured(src='img/gsoh.png')
    aside.notes Doesn't take much time. Good opportunity to "hack" something up and get paid for it.
  section
    h2 Iterative development
    img.featured(src='img/careview.png')
    aside.notes Small chunks of work, then trials, feedback, usability workshops, etc.
  section
    h2 Not all roses
    img.featured(src='img/meeting.png')
    aside.notes Council bureaucracy = unlimited meetings, sign-off, etc. Always having to find business case for things.
section
  section
    h2 What's in it for me?
    img.featured(src='img/progress1.png')
  section
    h2 Changing the world
    img.featured(src='img/world.png')
  section
    h2 Connection with end users
    img.featured.borderless(src='img/people.png')
  section
    h2 Leeds is my city
    img.featured.borderless(src='img/leeds.svg')
  section
    h2 Cold, hard cash
    img.featured.borderless(src='img/cash.svg')
section
  section
    h2 What's in it for the Council?
    img.featured(src='img/progress2.png')
  section
    h2 Someone who loves the city
    img.featured(src='img/lbq.png')
  section
    h2 Working with an actual human
    img.featured.borderless(src='img/childish.gif' style='height: 400px')
    aside.notes Responsive, engaged &amp; honest
  section
    h2 Local business community
    img.featured(src='img/duke.jpg')
section
  img.logo(src='img/logo.png')
  p https://www.fishpercolator.co.uk/
  p @fishpercolator
