section
  h1 Innovation Labs:
  h2 The business perspective
  img.logo(src='img/logo.png')
  h2.author= author
section
  section
    h2 How it works
  section
    h2 Prototype
    aside.notes Doesn't take much time. Good opportunity to "hack" something up and get paid for it.
  section
    h2 Iterative development
    aside.notes Small chunks of work, then trials, feedback, usability workshops, etc.
  section
    h2 Not all roses
    aside.notes Council bureaucracy = unlimited meetings, sign-off, etc. Always having to find business case for things.
section
  section
    h2 What's in it for me?
  section
    h2 Changing the world
  section
    h2 Connection with end users
  section
    h2 Leeds is my city
  section
    h2 Cold, hard cash
section
  section
    h2 What's in it for the Council?
  section
    h2 Someone who loves the city
  section
    h2 Responsive, engaged &amp; honest
  section
    h2 Links with local business community
section
  h2 The end
